.loader{

  width:60px;
  height:60px;

  border:6px solid #ffffff30;

  border-top:6px solid #8b5cf6;

  border-radius:50%;

  animation:spin 1s linear infinite;

  margin:auto;
}

@keyframes spin{

  100%{
    transform:rotate(360deg);
  }
}